extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn JavaScript comments';
        var myDescription = 'JavaScript Comments is very important for code!';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/comments';
        
    
block awesome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Comments
    p JavaScript comments can be used to explain JavaScript code, and to make it more readable.
    p JavaScript comments can also be used to prevent execution, when testing alternative code.
    h2 Single Line Comments
    p Single line comments start with //. ny text between // and the end of the line will be ignored by JavaScript (will not be executed). 
    h2 Multi-line Comments
    p Multi-line comments start with /* and end with */. Any text between /* and */ will be ignored by JavaScript.  