extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn Bootstrap 4 Tables';
        var myDescription = 'Bootstrap is a powerfool tool';
        var landingPage = 'Bootstrap';
        var activeLink = '/bootstrap/tables';
        
    
block awesome-content
    h1=myTitle
    p=myDescription
    h2 Bootstrap 4 Tables
    p A basic Bootstrap 4 table has a light padding and horizontal dividers.
    h2 Striped Rows
    p The .table-striped class adds zebra-stripes to a table.
    h2 Bordered Table
    p The .table-bordered class adds borders on all sides of the table and cells.