extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn Bootstrap 4 for beginners';
        var myDescription = 'Bootstrap is a powerfool tool';
        var landingPage = 'Bootstrap';
        var activeLink = '/bootstrap/versions';
        
    
block awesome-content
    h1=myTitle
    p=myDescription
    h2 Bootstrap 4 
    p Bootstrap 4 is the newest version of Bootstrap, which is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first websites.
    p Bootstrap 4 is completely free to download and use!