extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn Python Booleans';
        var myDescription = 'Python is very easy to learn';
        var landingPage = 'Python';
        var activeLink = '/python/booleans';
        
    
block awesome-content
    h1=myTitle
    p=myDescription
    h2 Python Booelans
    p Booleans represent one of two values: True or False.
    p Boolean Values
    p In programming you often need to know if an expression is True or False.
    p You can evaluate any expression in Python, and get one of two answers, True or False.