extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn Python for beginners';
        var myDescription = 'Python is very easy to learn';
        var landingPage = 'Python';
        var activeLink = '';
        
    
block awesome-content
    h1=myTitle
    p=myDescription
    h2 Python Tutorial
    p Python is a programming language.
    p Python can be used on a server to create web applications.
    h2 Python Data Types
    p In programming, data type is an important concept.
    h2 Python Numbers
    p There are three numeric types in Python.
    h2 Python Booleans
    p Booleans represent one of two values: True or False.
