extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn Bootstrap 4 Jumbotron';
        var myDescription = 'Bootstrap is a powerfool tool';
        var landingPage = 'Bootstrap';
        var activeLink = '/bootstrap/jumbotron';
        
    
block awesome-content
    h1=myTitle
    p=myDescription
    h2 Bootstrap 4 Jumbotron
    p A jumbotron indicates a big grey box for calling extra attention to some special content or information.
    p Tip: Inside a jumbotron you can put nearly any valid HTML, including other Bootstrap elements/classes.
    