extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn SQL for beginners';
        var myDescription = 'SQL is a database';
        var landingPage = 'SQL';
        var activeLink = '';
        
    
block awesome-content
    h1=myTitle
    p=myDescription
    h2 SQL Tutorial
    p SQL is a standard language for storing, manipulating and retrieving data in databases.
    p SQL tutorial will teach you how to use SQL in: MySQL, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres, and other database systems.
    h2 SQL Syntax
    p With our online SQL editor, you can edit the SQL statements, and click on a button to view the result.
    h2 SQL SELECT Statement
    p The SELECT statement is used to select data from a database.
    h2 SQL Wildcards
    p Learn by examples! This tutorial supplements all explanations with clarifying examples.
