doctype html
html
    head
        title Learn to code with PUG
    meta(name= "description", content="This is W3schools replica of w3schools.com")
    link(rel="stylesheet", href="style.css")
    body
        header
            a.current(href="/") Home
            a(href="/html") HTML
            a(href="/CSS") CSS
            a(href="/javascript") JavaScript
            a(href="/sql") SQL
            a(href="/python") Python
            a(href="/bootstrap") Bootstrap

        nav
            h3 HTML and CSS
            a(href="/html") Learn HTML
            a(href="/CSS") Learn CSS
            a(href="/javascript") Learn JavaScript
            a(href="/sql") Learn SQL
            a(href="/python") Learn Python
            a(href="/bootstrap") Learn Bootstrap
        
        article
            h1 This is replica of w3schools.com
            h2 HTML
            p HTML Tutorials #[a(href="/html") Check it now here!]
            h2 CSS  
            p CSS Tutorials #[a(href="/css") Check it now here!]
            h2 JavaScript
            p Javascript Tutorials #[a(href="/javascript") Check it now here!]
            h2 SQL
            p SQL Tutorials #[a(href="/sql") Check it now here!] 
            h2 Python
            p Python Tutorials #[a(href="/python") Check it now here!] 
            h2 Bootstrap
            p Bootstrap Tutorials #[a(href="/bootstrap") Check it now here!] 

        footer &copy; 2020 My name is awesome! W3schools