extends _component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code HTML, CSS and JavaScript';
        var myDescription = 'This is W3schools replica of w3schools.com';
        var landingPage = 'Home';
        var activeLink = '';
        

    
block awesome-content
    h1 This is replica of w3schools.com
    h2 HTML
    p HTML Tutorials #[a(href="/html") Check it now here!]
    h2 CSS  
    p CSS Tutorials #[a(href="/css") Check it now here!]
    h2 JavaScript
    p Javascript Tutorials #[a(href="/javascript") Check it now here!]
    h2 SQL
    p SQL Tutorials #[a(href="/sql") Check it now here!] 
    h2 Python
    p Python Tutorials #[a(href="/python") Check it now here!] 
    h2 Bootstrap
    p Bootstrap Tutorials #[a(href="/bootstrap") Check it now here!] 