extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn Bootstrap 4 for beginners';
        var myDescription = 'Bootstrap is a powerfool tool';
        var landingPage = 'Bootstrap';
        var activeLink = '';
        
    
block awesome-content
    h1=myTitle
    p=myDescription
    h2 Bootstrap 4 Tutorial
    p Bootstrap 4 is the newest version of Bootstrap, which is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first websites.
    p Bootstrap 4 is completely free to download and use!
    h2 Bootstrap 3 vs. Bootstrap 4
    p Bootstrap 4 is the newest version of Bootstrap; with new components, faster stylesheet and more responsiveness.
    p Bootstrap 4 supports the latest, stable releases of all major browsers and platforms. However, Internet Explorer 9 and down is not supported.
    h2 Bootstrap 4 Tables
    p A basic Bootstrap 4 table has a light padding and horizontal dividers.
    h2 Bootstrap 4 Jumbotron
    p A jumbotron indicates a big grey box for calling extra attention to some special content or information.
